/*---------------------------------------------------------------
  [버튼]
-----------------------------------------------------------------*/
.btn {
  @include flexbox(row, flex-start, center);
  gap: 0 10px;
  padding: 6.5px 20px;
  font-size: 14px;
  color: $c-white0;
  // font-weight: 700;
  border-radius: 8px;
  background: $c-blue2;

  &-logout {
    @include bgurl($w: 35px, $h: 35px, $img: 'icon_logout.png');
  }

  &-group {
    @include flexbox(row, flex-start, center);
    gap: 0 10px;
  }

  &-search {
    @include bgurl($w: 35px, $h: 35px, $img: 'icon_search.png');
  }

  &-close {
    @include bgurl($w: 16px, $h: 16px, $img: 'icon_close_gray.png');
  }

  &.positive {
    display: block;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    font-weight: 400;
  }

  &.cancel {
    display: block;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    color: $c-gray14;
    font-weight: 400;
    background: $c-gray10;
  }

  &.rounded {
    font-weight: 400;
    border-radius: 5px;
    background: $c-gray16;

    &:disabled {
      background: $c-gray16;
    }

    &.active {
      background: $c-gray15;
    }
  }

  &.c-gray {
    display: inline-block;
    padding: 4px 11px;
    font-weight: 400;
    border-radius: 5px;
    border: 0.5px solid $c-gray13;
    background: $c-gray14;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);

    &.md {
      min-width: 100px;
      padding: 8px 11px;
    }
  }

  &-excel-down {
    display: inline-block;
    @include bgurl($w: 150px, $h: 35px, $img: 'btn_excel_down.png');
  }
}

.btn-group.channel {
  max-width: 908px;

  button {
    width: 65px;
    line-height: 35px;
    border-radius: 5px;
    background: $c-gray15;
    font-size: 14px;
    font-weight: 700;
    color: $c-white0;

    &:disabled {
      font-weight: 400;
      background: $c-gray16;
    }
  }
}
