/*---------------------------------------------------------------
  [모니터링 영상]
-----------------------------------------------------------------*/
.monitoring {
  &-content {
    @include flexbox(row, flex-start, center);
    gap: 3px;
    flex-wrap: wrap;
    height: calc(100vh - 223px);
    margin-top: 8px;
    padding: 15px;
    border-radius: 5px;
    background: $c-gray12;
  }

  &-video-bind {
    flex: calc(50% - 3px);
    height: calc(100% / 2);
    font-size: 0;
  }
}

/*---------------------------------------------------------------
  [목록, 상세 공통]
-----------------------------------------------------------------*/
.administer-header {
  @include flexbox(row, space-between, center);

  .title {
    line-height: 22px;
    font-size: 20px;
    font-weight: 700;
    color: $c-blue3;

    &.sm {
      font-size: 18px;
    }

    &.bul {
      @include flexbox(row, flex-start, center);
      gap: 0 10px;

      &::before {
        content: '';
        @include bgurl($w: 15px, $h: 15px, $img: 'icon_bul1.png');
      }
    }
  }
}

/*---------------------------------------------------------------
  [목록]
-----------------------------------------------------------------*/
.list-container {
  main {
    overflow-y: auto;
    height: calc(100vh - 195px);
    // border: 1px solid red;
    border-bottom: 1px solid $c-gray7;
    margin-top: 10px;
  }
}

/*---------------------------------------------------------------
  [상세]
-----------------------------------------------------------------*/
.view-container {
  main {
    height: calc(100vh - 195px);
    margin-top: 10px;

    .tbl-details {
      height: 100%;

      table {
        height: 100%;
      }
    }
  }
}
