/*---------------------------------------------------------------
  [모니터링 영상]
-----------------------------------------------------------------*/
.monitoring {
  &-content {
    @include flexbox(row, flex-start, center);
    gap: 3px;
    flex-wrap: wrap;
    height: calc(100vh - 223px);
    margin-top: 8px;
    padding: 10px;
    border-radius: 5px;
    background: $c-gray12;
  }

  &-video-bind {
    flex: calc(50% - 3px);
    height: calc(100% / 2);
    font-size: 0;
  }
}

/*---------------------------------------------------------------
  [필터 컴포넌트]
-----------------------------------------------------------------*/
.filter-area-container {
  @include flexbox(row, flex-start, center);
  gap: 10px;
  height: 65px;
  padding: 0 10px;
  background: $c-white3;
}

/*---------------------------------------------------------------
  [VMS 제어 컴포넌트]
-----------------------------------------------------------------*/
.controller-display {
  &-container {
    overflow-y: auto;
    height: calc(100vh - 250px);
    padding: 20px 10px;
    border-radius: 5px;
    background: $c-white3;
    box-sizing: border-box;

    li {
      padding: 12px 20px 10px;
      border-radius: 5px;
      border: 1px solid $c-gray5;
      background: $c-white0;

      & + li {
        margin-top: 17px;
      }
    }

    .display-item {
      margin-top: 10px;
      line-height: 45px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      border-radius: 5px;
      background: $c-black5;

      &.c-red {
        color: $c-red2;
      }

      &.c-yellow {
        color: $c-yellow1;
      }

      &.c-yellow-green {
        color: $c-yellow-green;
      }

      &.bg-brown {
        color: $c-white0;
        background: $c-brown3;
      }
    }
  }

  &-header {
    @include flexbox(row, space-between, center);
    color: $c-blue2;
    font-weight: 700;
  }
}

/*---------------------------------------------------------------
  [ROI 컴포넌트]
-----------------------------------------------------------------*/
.roi-container {
  @include flexbox(column, flex-start, flex-start);
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background: $c-white3;

  .row {
    width: 100%;
    @include flexbox(row, flex-start, flex-start);
    gap: 10px;

    button {
      flex: 1;
    }
  }

  .btn-roi {
    line-height: 35px;
    border-radius: 5px;
    font-size: 14px;
    color: $c-blue2;
    background: $c-white0;

    &:disabled {
      color: $c-gray18;
      background: $c-gray17;
    }

    &.active {
      color: $c-white0;
      background: $c-black4;
    }
  }

  .ic {
    @include flexbox(column, space-between, center);
    height: 80px;
    padding: 15px 0;
    color: $c-blue2;
    border-radius: 5px;
    background: $c-white0;

    &::after {
      content: '';
    }

    &.lane-straight {
      &::after {
        @include bgurl-roi($w: 9px, $h: 21px, $img: 'straight.png');
      }

      &:disabled {
        opacity: 0.4;
        background: $c-gray18;
      }

      &.active {
        color: $c-white0;
        background: $c-black4;

        &::after {
          @include bgurl-roi($w: 9px, $h: 21px, $img: 'straight_white.png');
        }
      }
    }

    &.lane-left-turn {
      &::after {
        @include bgurl-roi($w: 15px, $h: 15px, $img: 'left_utern.png');
      }

      &:disabled {
        opacity: 0.4;
        background: $c-gray18;
      }

      &.active {
        color: $c-white0;
        background: $c-black4;

        &::after {
          @include bgurl-roi($w: 15px, $h: 15px, $img: 'left_utern_white.png');
        }
      }
    }
  }
}

/*---------------------------------------------------------------
  [동작 코드]
-----------------------------------------------------------------*/
.movement-select-container {
  border-top: 1px solid $c-black2;

  label {
    display: block;
    width: 100%;
    border-bottom: 1px solid $c-gray5;

    input {
      display: none;

      &:checked {
        & + .movement {
          background: $c-white2;
        }
      }
    }

    .movement {
      @include flexbox(row, flex-start, flex-start);
      gap: 0 20px;
      line-height: 50px;
      background: $c-white0;
      transition: background 0.2s;

      span {
        &:first-child {
          width: 100px;
          text-align: center;
        }

        &:last-child {
          flex: 1;
        }
      }
    }
  }
}

/*---------------------------------------------------------------
  [목록, 상세 공통]
-----------------------------------------------------------------*/
.administer-header {
  @include flexbox(row, space-between, center);

  &.bot-line {
    padding-bottom: 10px;
    border-bottom: 1px solid $c-black2;
  }

  .title {
    line-height: 22px;
    font-size: 20px;
    font-weight: 700;
    color: $c-blue3;

    &.sm {
      font-size: 18px;
    }

    &.bul {
      @include flexbox(row, flex-start, center);
      gap: 0 10px;

      &::before {
        content: '';
        @include bgurl($w: 15px, $h: 15px, $img: 'icon_bul1.png');
      }
    }
  }

  .bind {
    @include flexbox(row, flex-start, center);
    gap: 0 10px;
  }
}

/*---------------------------------------------------------------
  [목록]
-----------------------------------------------------------------*/
.list-container {
  main {
    overflow-y: auto;
    height: calc(100vh - 195px);
    // border: 1px solid red;
    border-bottom: 1px solid $c-gray7;
    margin-top: 10px;
  }
}

/*---------------------------------------------------------------
  [상세]
-----------------------------------------------------------------*/
.view-container {
  main {
    height: calc(100vh - 195px);
    margin-top: 10px;

    .tbl-details {
      overflow: hidden;
      height: 100%;

      &.h-auto {
        height: auto;
      }

      & > form {
        height: inherit;
      }

      table {
        height: 100%;
      }
    }
  }
}
