/*---------------------------------------------------------------
  [css initial]
-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-name;
  font-size: 14px;
  color: $c-black3;
  @include font-style(400);
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1920px;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-name;
  margin: 0;
  line-height: 1.2;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

em,
i {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  tbody {
    vertical-align: middle;
  }

  th,
  td {
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

hr {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  outline: 0;
  font-family: $font-name;
  background: transparent;
  cursor: pointer;
}

input {
  width: 100%;

  &[type='radio'] {
    cursor: pointer;
  }
}

select {
  outline: 0;
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 12px;
  // border: 1px solid $c-gray5;
  border-radius: 5px;
  font-size: 14px;
  // color: $c-gray2;
  outline: 0;
  resize: none;
}

label {
  cursor: pointer;
}

input,
optgroup,
select,
textarea {
  font-family: $font-name;
  box-sizing: border-box;
  outline: 0;
}

input[type='date'] {
  border: 0;
  outline: 0;
}

video {
  object-fit: fill;
}

dialog {
  border: 0;
}

/*---------------------------------------------------------------
  [웹폰트 KoPubWorldDotum]
-----------------------------------------------------------------*/
@font-face {
  font-family: 'KoPubWorldDotum';
  font-style: normal;
  font-weight: 300;
  src: local('KoPubWorldDotum'), url('/font/KoPubWorld-Dotum-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'KoPubWorldDotum';
  font-style: normal;
  font-weight: 400;
  src: local('KoPubWorldDotum'), url('/font/KoPubWorld-Dotum-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'KoPubWorldDotum';
  font-style: normal;
  font-weight: 700;
  src: local('KoPubWorldDotum'), url('/font/KoPubWorld-Dotum-Bold.woff2') format('woff2');
}

/*---------------------------------------------------------------
  [help class]
-----------------------------------------------------------------*/
.screen-out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.verti-align-mid {
  vertical-align: middle !important;
}
