.is-edge-browser {
  overflow-x: hidden;
}

/*---------------------------------------------------------------
  [디폴트 (1920 X 1080) 해상도 보다 화면이 클 경우 style 정의]
-----------------------------------------------------------------*/
@media (min-width: 1921px) {
  .main-container {
    // 모니터링
    .monitoring-container {
      .ly-left {
        flex: 2.1;
        width: auto;
      }

      // ROI설정 화면 및 카메라SW 위경도 관리 화면
      &.type2 {
        .ly-left {
          flex: 1.8;
          width: auto;
        }
      }
    }

    // 목록, 상세
    .administer {
      .ly-left {
        flex: 1;
        width: auto;
      }

      .ly-right {
        width: 760px;
        flex: none;
      }
    }
  }

  // 차트
  .chart-body {
    height: calc(100% - 22px);

    &.min-siz3 {
      overflow-y: auto;

      .chart-container {
        height: calc(50% - 14px);
        flex: 0 0 auto;
      }
    }

    .chart-container {
      flex: 1 1 50%;
    }
  }

  // RTU 고급 관리 화면
  .administer.rtu-advn-mng-container {
    .ly-right {
      flex: 1;
      width: auto;
    }
  }
}

/*---------------------------------------------------------------
  [ 1024 X 768 해상도에 대한 style 정의]
-----------------------------------------------------------------*/
@media (max-height: 800px) {
  // 공통
  .main-container {
    & > section {
      height: auto;
    }

    .monitoring-container .ly-left .monitoring-content {
      height: 100%;
    }
  }

  // 모니터링
  .mntr-information-wrapper {
    .information-container {
      & > .tbl-bind {
        height: 317px;
      }

      .view-container .tbl-details {
        height: auto;
      }
    }
  }

  // roi
  .information-container.roi {
    .view-container .tbl-bind {
      height: 327px;
    }
  }

  // 카메라sw 위경도 관리
  .camera-sw-crdnt-mng-container {
    .ly-right .sec2 .tbl-bind {
      height: 495px;
    }
  }
}
