/*---------------------------------------------------------------
  [form]
-----------------------------------------------------------------*/
.inp {
  &-chkbox {
    display: none;

    & + i {
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      border: 1px solid $c-gray6;
      background: $c-white0;
      vertical-align: middle;
    }

    &:checked + i {
      @include bgurl($w: 25px, $h: 25px, $img: 'chkbox_active.png');
      border: 1px solid transparent;
    }
  }

  &-radio {
    display: none;

    & + i {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 999px;
      border: 1px solid $c-gray5;
      background: $c-white0;
      vertical-align: middle;
    }

    &:checked + i {
      @include bgurl($w: 20px, $h: 20px, $img: 'radio_active.png');
      border: 1px solid transparent;
    }
  }

  &-radio-group {
    @include flexbox(row, flex-start, center);
    gap: 0 57px;

    label {
      font-size: 14px;

      i {
        margin-right: 7px;
      }
    }
  }

  &-switch-bind {
    @include flexbox(row, flex-start, center);
    gap: 0 10px;
  }

  &-switch-wrap {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;

    .inp-switch {
      display: none;

      &-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $c-gray11;
        border-radius: 15px;
        transition: 0.2s;

        &::before {
          position: absolute;
          content: '';
          width: 15px;
          height: 15px;
          left: 5px;
          bottom: 5px;
          background-color: $c-white0;
          border-radius: 100%;
          transition: 0.2s;
        }
      }

      &:checked + .inp-switch-slider {
        background-color: $c-blue4;

        &::before {
          transform: translateX(24px);
        }
      }
    }
  }
}

.txt-field {
  padding: 0 10px;
  line-height: 38px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid $c-gray5;
  background: $c-white0;

  &:disabled {
    background: rgba(247, 248, 249, 0.96);
  }
}

.opt {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid $c-gray5;

  &:disabled {
    background: rgba(247, 248, 249, 0.96);
  }
}

.resolution {
  @include flexbox(row, flex-start, center);
  gap: 0 7px;

  .txt-field {
    width: 100px;
    text-align: center;
  }
}
