/*---------------------------------------------------------------
  [화면 레이아웃 정의]
-----------------------------------------------------------------*/
.ly-container {
  margin-bottom: 0;

  .ly-footer {
    width: calc(100% - 60px);
    margin: 11px auto 0;
    line-height: 29px;
    text-align: right;
    font-size: 13px;
    color: $c-gray9;
    border-top: 1px solid $c-gray8;
  }
}

.gnb-container {
  @include flexbox(row, space-between, center);
  padding: 20px 30px 19px;
  line-height: normal;
  background: $c-white1;
  box-shadow: none;
  color: $c-gray4;
  border-bottom: 1px solid $c-blue1;

  h1 {
    width: 85px;
    font-size: 0;
  }

  aside {
    @include flexbox(row, flex-start, center);
    gap: 0 20px;

    .admin-id {
      @include flexbox(row, flex-start, center);
      gap: 0 9px;
      color: $c-black3;

      &::before {
        content: '';
        @include bgurl($w: 22px, $h: 22px, $img: 'icon_avatar.png');
      }
    }
  }
}

.gnb-wrap {
  @include flexbox(row, space-around, center);
  width: 1110px;

  .mega-menu {
    font-size: 22px;
    color: $c-gray4;

    &.active {
      position: relative;
      font-weight: 700;
      color: $c-blue1;

      &::before {
        content: '';
        position: absolute;
        left: -36px;
        right: -36px;
        bottom: -22px;
        height: 5px;
        border-radius: 5px 5px 0 0;
        background: $c-blue1;
      }
    }
  }
}

.main-container {
  padding: 0 30px;

  & > section {
    @include flexbox(row, flex-start, flex-start);
    gap: 0 20px;
    width: 100%;
    height: calc(100vh - 122px);
  }

  // 모니터링
  .monitoring-container {
    .ly-left {
      width: 1330px;
      margin-top: 23px;

      & > aside {
        @include flexbox(row, space-between, center);
      }
    }

    .ly-right {
      flex: 1;
      margin-top: 23px;
    }
  }

  // 목록/상세
  .administer {
    .ly-left {
      width: 1081px;
      margin-top: 28px;
    }

    .ly-right {
      flex: 1;
      margin-top: 28px;
    }
  }
}
