// ------------------------------------------------
// [유틸 mixin]
//-------------------------------------------------

// 폰트 스타일
@mixin font-style($num) {
  font-weight: $num;
}

// flexbox
@mixin flexbox($direction: row, $justi-con: flex-start, $align-item: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justi-con;
  align-items: $align-item;
}

// 말줄임
@mixin dotdot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

// 백그라운드 이미지
@mixin bgurl($w, $h, $img, $bg-pos: 0 0, $bg-size: contain) {
  width: $w;
  height: $h;
  background-image: url('/images/#{$img}');
  background-repeat: no-repeat;
  background-position: $bg-pos;
  background-size: $bg-size;
}

@mixin bgurl-roi($w, $h, $img, $bg-pos: 0 0, $bg-size: contain) {
  width: $w;
  height: $h;
  background-image: url('/images/roi/#{$img}');
  background-repeat: no-repeat;
  background-position: $bg-pos;
  background-size: $bg-size;
}
