/*---------------------------------------------------------------
  [모달 팝업]
-----------------------------------------------------------------*/
.dialog-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 44px 38px 30px;
  border: 1px solid $c-gray5;
  border-top-color: $c-blue1;

  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }

  &.alert {
    width: 450px;
    min-height: 205px;
    padding: 64px 40px 36px;
    border-top-color: $c-red2;
    box-sizing: border-box;

    .dialog-modal-body {
      font-size: 18px;
      font-weight: 700;
      color: $c-red2;
      text-align: center;
    }
  }

  &.confirm {
    width: 450px;
    min-height: 205px;
    padding: 64px 40px 36px;
    box-sizing: border-box;

    .dialog-modal-body {
      font-size: 18px;
      font-weight: 700;
      color: $c-blue2;
      text-align: center;
    }
  }

  .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &-container {
    header {
      margin-bottom: 3px;
      color: $c-blue3;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &-body {
    .txt-field {
      & + .txt-field {
        margin-top: 10px;
      }
    }
  }

  &-btn-group {
    @include flexbox(row, flex-start, center);
    gap: 0 8px;
    margin-top: 30px;

    .btn {
      flex: 1;
    }
  }
}
