/*---------------------------------------------------------------
  [모니터링 - 정보]
  /mntr/information.html
-----------------------------------------------------------------*/
.monitoring-container {
  .tbl-bind {
    overflow-y: auto;
    height: 300px;
    border-bottom: 1px solid $c-black2;
  }

  .tbl-centered {
    tbody {
      tr:last-child {
        td {
          border-bottom: 0;
        }
      }

      .info-state1 {
        color: $c-blue6;
      }

      .info-state2 {
        color: $c-red1;
      }

      .info-state3 {
        color: $c-brown2;
      }
    }
  }

  .administer-header {
    margin: 20px 0 6px;
  }

  .view-container .tbl-details {
    height: calc(100vh - 541px);

    table {
      height: 100%;
    }
  }
}

/*---------------------------------------------------------------
  [모니터링 - 검지 현황]
  org\mntr\scanning.html
-----------------------------------------------------------------*/
.scanning-container {
  .tbl-bind {
    height: calc(100vh - 649px);
    border-top: 1px solid $c-black2;
  }

  & > .view-container {
    &:first-child {
      .administer-header {
        margin: 16px 0 10px;
      }
    }

    &:last-child {
      margin-top: 41px;

      .administer-header {
        margin: 0 0 15px;
      }
    }
  }
}

/*---------------------------------------------------------------
  [모니터링 - 제어 현황]
  org\mntr\controller.html
-----------------------------------------------------------------*/
.controller-container {
  .administer-header {
    margin: 26px 0 14px;
  }
}

/*---------------------------------------------------------------
  [제어관리 - 제어장비 동작 관리]
  org\ctrl\cteqOpertMng.html
-----------------------------------------------------------------*/
.cteq-opert-mng-container {
  .filter-area-container {
    .opt {
      width: 200px;
    }
  }

  .view-container main .tbl-details {
    height: auto;
  }
}

/*---------------------------------------------------------------
  [제어관리 - 제어장비 항목 관리]
  org/ctrl/cteqIemMng.html
-----------------------------------------------------------------*/
.cteq-lem-mng-container {
  .filter-area-container {
    .opt {
      width: 200px;
    }
  }

  .ly-right {
    margin-top: 16px !important;

    .view-container main {
      height: auto !important;
      margin-top: 0;

      & > .tbl-centered {
        margin-top: 9px;
      }
    }

    .tbl-centered ~ .administer-header {
      margin-top: 43px;
    }

    .tbl-bind {
      overflow-y: auto;
      height: calc(100vh - 475px);
      margin-top: 8px;
      border-bottom: 1px solid $c-gray7;

      .tbl-centered {
        .opt {
          width: 300px;
        }

        .txt-field {
          width: 150px;
        }
      }
    }
  }
}

/*---------------------------------------------------------------
  [제어관리 - 제어장비 연동 관리]
  org/ctrl/cteqIntrlckMng.html
-----------------------------------------------------------------*/
.cteq-intrlck-mng-container {
  .filter-area-container {
    .opt {
      width: 200px;
    }
  }

  .ly-right {
    margin-top: 16px !important;

    .view-container main {
      height: calc(100vh - 249px) !important;
      margin-top: 0;
      border-bottom: 1px solid $c-gray7;
    }

    .sec1 {
      .tbl-centered {
        margin-top: 9px;

        &.fields {
          tbody {
            td {
              height: 60px;
            }
          }

          .txt-field {
            width: 120px;
            line-height: 43px;
            text-align: center;
            color: $c-red3;
          }
        }
      }
    }

    .sec2 {
      margin-top: 36px;

      .tbl-centered {
        margin-top: 7px;
      }
    }

    .sec3 {
      margin-top: 38px;

      .administer-header {
        .bind {
          font-size: 13px;
          color: $c-gray19;
        }
      }
    }
  }

  .movement-select-container {
    margin-top: 5px;
  }
}

/*---------------------------------------------------------------
  [설정관리 - 로그 확인]
  org\setup\logMng.html
-----------------------------------------------------------------*/
.log-mng-container.administer {
  .ly-left {
    width: 505px;
  }

  .view-container main {
    height: calc(100vh - 205px);
  }

  .log-container {
    height: 100%;
    border-radius: 5px;
    border: 1px solid $c-gray5;
  }
}
