/*---------------------------------------------------------------
  [모니터링 - 정보]
  /mntr/information.html
-----------------------------------------------------------------*/
.monitoring-container {
  .tbl-bind {
    overflow-y: auto;
    height: 300px;
    border-bottom: 1px solid $c-black2;
  }

  .tbl-centered {
    tbody {
      tr:last-child {
        td {
          border-bottom: 0;
        }
      }

      .info-state1 {
        color: $c-blue6;
      }

      .info-state2 {
        color: $c-red1;
      }

      .info-state3 {
        color: $c-brown2;
      }
    }
  }

  .administer-header {
    margin: 20px 0 6px;
  }

  .view-container .tbl-details {
    height: calc(100vh - 541px);

    table {
      height: 100%;
    }
  }
}

/*---------------------------------------------------------------
  [모니터링 - 검지 현황]
  org\mntr\scanning.html
-----------------------------------------------------------------*/
.scanning-container {
  .tbl-bind {
    height: calc(100vh - 649px);
    border-top: 1px solid $c-black2;
  }

  & > .view-container {
    &:first-child {
      .administer-header {
        margin: 16px 0 10px;
      }
    }

    &:last-child {
      margin-top: 41px;

      .administer-header {
        margin: 0 0 15px;
      }
    }
  }
}

/*---------------------------------------------------------------
  [모니터링 - 제어 현황]
  org\mntr\controller.html
-----------------------------------------------------------------*/
.controller-container {
  .administer-header {
    margin: 26px 0 14px;
  }
}

/*---------------------------------------------------------------
  [장비 관리 - 카메라SW 설정 관리	]
  /org/eqpmn/cameraSwSetupMng.html
-----------------------------------------------------------------*/
.camera-sw-setup-mng-container {
  .ly-right {
    .view-container > main {
      @include flexbox(column, flex-start, flex-start);
      gap: 18px 0;
      height: calc(100vh - 163px);
      margin-top: 0;

      & > section {
        width: 100%;
      }
    }

    .sw-setup-view {
      .tbl-details {
        height: 165px;
        margin-top: 10px;

        .opt {
          width: 130px;
        }

        .integer {
          font-size: 18px;
          color: $c-gray20;
        }

        .stuck {
          color: $c-blue2;
          text-align: center;
        }
      }
    }

    .sw-setup-log {
      flex: 1;
    }

    .log-container {
      height: calc(100% - 43px);
      margin-top: 10px;
      border-radius: 5px;
      border: 1px solid $c-gray5;
    }
  }
}

/*---------------------------------------------------------------
  [장비 관리 - 카메라SW 위경도 관리	]
  /org/eqpmn/cameraSwCrdntMng.html
-----------------------------------------------------------------*/
.camera-sw-crdnt-mng-container {
  .monitoring-content {
    height: calc(100vh - 260px) !important;
  }

  .ly-right {
    main {
      margin-top: 0;
    }

    .sec1 {
      .administer-header {
        margin-top: 0;
      }

      .tbl-details {
        height: auto;

        .txt-field-group {
          .opt {
            width: 120px;
          }
        }
      }
    }

    .sec2 {
      margin-top: 20px;

      .administer-header {
        margin: 0 0 10px;
      }

      .tbl-bind {
        height: calc(100vh - 440px);
      }

      .tbl-centered {
        .txt-field-group {
          width: 170px;

          .opt {
            width: 70px;
          }
        }
      }
    }
  }
}

/*---------------------------------------------------------------
  [장비 관리 - 장비 상태 관리/이력	]
  org\eqpmn\eqpmnSttusMng.html
  org\eqpmn\eqpmnSttusHist.html
-----------------------------------------------------------------*/
.eqpmn-sttus-mng-container {
  .filter-area-container {
    .opt {
      width: 200px;
    }
  }
}

.eqpmn-sttus-hist-container {
  .filter-area-container {
    .opt {
      width: 200px;
    }

    .inp-date {
      width: 170px;
    }
  }
}

/*---------------------------------------------------------------
  [장비 관리 - RTU 기본 관리	]
  org\eqpmn\rtuBassMng.html
-----------------------------------------------------------------*/
.rtu-bass-mng-container {
  .administer-body {
    flex: 1;
    padding-top: 23px;
  }

  .administer-header {
    margin-bottom: 10px;
  }

  .state-onoff {
    font-size: 16px;

    em {
      &.active {
        &:first-child {
          color: $c-blue4;
        }

        &:last-child {
          color: $c-red2;
        }
      }
    }
  }
}

/*---------------------------------------------------------------
  [장비 관리 - RTU 고급 관리	]
  org\eqpmn\rtuAdvnMng.html
-----------------------------------------------------------------*/
.rtu-advn-mng-container.administer {
  gap: 0 50px;

  .administer-header {
    margin-bottom: 10px;
  }

  .rtu-guide {
    display: block;
    margin-top: 10px;
    line-height: 20px;
    color: $c-blue4;

    &.bordered {
      padding: 21px 15px 20px;
      border-radius: 5px;
      border: 1px solid $c-gray5;
    }
  }

  .rtu-refer {
    margin-top: 8px;
    padding: 12px 15px 8px;
    border-radius: 5px;
    border: 1px solid $c-gray24;

    table {
      border-top: 1px solid $c-gray5;
      border-bottom: 1px solid $c-gray5;

      th {
        height: 35px;
        padding-left: 20px;
        font-weight: 400;
        text-align: left;
        border-bottom: 1px solid $c-gray5;
      }

      td {
        height: 35px;
        border-bottom: 1px solid $c-gray5;

        span {
          display: block;
          line-height: 15px;
          padding-left: 24px;
          border-left: 1px solid $c-gray5;
        }
      }
    }
  }

  .ly-left {
    width: 905px;
    margin-top: 20px;
  }

  .ly-right {
    margin-top: 20px;
  }
}

/*---------------------------------------------------------------
  [제어관리 - 제어장비 동작 관리, 제어장비 운영 시간 관리]
  org\ctrl\cteqOpertMng.html,
  org\ctrl\cteqOperTimeMng.html
-----------------------------------------------------------------*/
.cteq-opert-mng-container,
.cteq-oper-time-mng-container {
  .filter-area-container {
    .opt {
      width: 200px;
    }
  }

  .view-container main .tbl-details {
    height: auto;
  }
}

/*---------------------------------------------------------------
  [제어관리 - , 신호 연장 운영 시간 관리, 집중조명 운영 시간 관리, 음성안내 음량 관리]
  org\ctrl\pseOperTimeMng.html,
  org\ctrl\spotlightOperTimeMng.html,
  org\ctrl\voiceVolumeMng.html
-----------------------------------------------------------------*/
.pse-oper-time-mng-container,
.spotlight-oper-time-mng-container,
.voice-volume-mng-container {
  .view-container main .tbl-details {
    height: auto;
  }
}

/*---------------------------------------------------------------
  [제어관리 - 제어장비 항목 관리]
  org/ctrl/cteqIemMng.html
-----------------------------------------------------------------*/
.cteq-lem-mng-container {
  .filter-area-container {
    .opt {
      width: 200px;
    }
  }

  .ly-right {
    margin-top: 16px !important;

    .view-container main {
      height: auto !important;
      margin-top: 0;

      & > .tbl-centered {
        margin-top: 9px;
      }
    }

    .tbl-centered ~ .administer-header {
      margin-top: 43px;
    }

    .tbl-bind {
      overflow-y: auto;
      height: calc(100vh - 475px);
      margin-top: 8px;
      border-bottom: 1px solid $c-gray7;

      .tbl-centered {
        .opt {
          width: 300px;
        }

        .txt-field {
          width: 150px;
        }
      }
    }
  }
}

/*---------------------------------------------------------------
  [제어관리 - 제어장비 연동 관리]
  org/ctrl/cteqIntrlckMng.html
-----------------------------------------------------------------*/
.cteq-intrlck-mng-container {
  .filter-area-container {
    .opt {
      width: 200px;
    }
  }

  .ly-right {
    margin-top: 16px !important;

    .view-container main {
      height: calc(100vh - 249px) !important;
      margin-top: 0;
      border-bottom: 1px solid $c-gray7;
    }

    .sec1 {
      .tbl-centered {
        margin-top: 9px;

        &.fields {
          tbody {
            td {
              height: 60px;
            }
          }

          .txt-field {
            width: 120px;
            line-height: 43px;
            text-align: center;
            color: $c-red3;
          }
        }
      }
    }

    .sec2 {
      margin-top: 36px;

      .tbl-centered {
        margin-top: 7px;
      }
    }

    .sec3 {
      margin-top: 38px;

      .administer-header {
        .bind {
          font-size: 13px;
          color: $c-gray19;
        }
      }
    }
  }

  .movement-select-container {
    margin-top: 5px;
  }
}

/*---------------------------------------------------------------
  [설정관리 - 로그 확인]
  org\setup\logMng.html
-----------------------------------------------------------------*/
.log-mng-container.administer {
  .ly-left {
    width: 505px;
  }

  .view-container main {
    height: calc(100vh - 205px);
  }

  .log-container {
    height: 100%;
    border-radius: 5px;
    border: 1px solid $c-gray5;
  }
}
