/*---------------------------------------------------------------
  [테이블]
-----------------------------------------------------------------*/
table {
  tr.no-data {
    text-align: center;
  }
}

.tbl {
  &-centered {
    table-layout: fixed;
    border-collapse: separate;

    thead {
      position: sticky;
      top: 0;

      th {
        height: 60px;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        border-top: 2px solid $c-black2;
        border-bottom: 2px solid $c-black2;
        background: $c-white0;
      }
    }

    tbody {
      td {
        height: 58px;
        font-size: 18px;
        text-align: center;
        border-bottom: 1px solid $c-gray5;
      }

      tr.active {
        background: $c-white2;
      }
    }

    &.bg {
      thead {
        th {
          background: #f3f5f9;
        }
      }
    }

    &.sm {
      thead {
        th {
          font-size: 14px;
        }
      }

      tbody {
        td {
          height: 60px;
          font-size: 14px;
        }
      }

      &.fields {
        thead {
          th {
            background: #f3f5f9;
          }
        }

        tbody {
          td {
            height: 50px;

            .txt-field {
              line-height: 33px;
            }
          }
        }
      }
    }

    &.xs {
      tbody {
        td {
          height: 38px;
          font-size: 14px;
        }
      }
    }
  }

  &-details {
    border: 1px solid $c-gray5;
    border-radius: 5px;
    box-sizing: border-box;

    tbody {
      th {
        padding: 0 20px;
        text-align: left;
        font-weight: 400;
        background: $c-gray10;

        i {
          display: inline-block;
          padding-left: 3px;
          color: $c-brown1;
        }
      }

      td {
        height: 52px;
        padding: 0 16px;
      }
    }
  }
}
