// ------------------------------------------------
// [scss 변수 정의]
//-------------------------------------------------

// 폰트명
$font-name: KoPubWorldDotum, 'Helvetica Neue', Arial, Helvetica, sans-serif;

// colors
$c-black1: #000;
$c-black2: #394250;
$c-black3: #272727;
$c-black4: #576376;
$c-black5: #262626;
$c-black6: #212b36;

$c-white0: #fff;
$c-white1: #f1f2f5;
$c-white2: #f4f7ff;
$c-white3: #f2f6ff;
$c-white4: #f4f6f9;

$c-gray1: #f1f2f5;
$c-gray2: #c5c8cf;
$c-gray3: #aeaeae;
$c-gray4: #666;
$c-gray5: #ced4dd;
$c-gray6: #777897;
$c-gray7: #959da9;
$c-gray8: #e4e5e9;
$c-gray9: #838a97;
$c-gray10: #e6e9ee;
$c-gray11: #848d9a;
$c-gray12: #cfd4da;
$c-gray13: #5f687c;
$c-gray14: #8795b2;
$c-gray15: #768fca;
$c-gray16: #d5ddef;
$c-gray17: #e6eaf3;
$c-gray18: #adb4c4;
$c-gray19: #707070;
$c-gray20: #909090;
$c-gray21: #a6a6a6;
$c-gray22: #c0c7d5;
$c-gray23: #cfdbeb;
$c-gray24: #a4bef4;

$c-blue1: #004;
$c-blue2: #1c3d74;
$c-blue3: #0b2755;
$c-blue4: #5388f4;
$c-blue5: #13325f;
$c-blue6: #193968;
$c-blue7: #233251;

$c-red1: #d06565;
$c-red2: #fa4242;
$c-red3: #ff6060;

$c-brown1: #3a0506;
$c-brown2: #6e4f2c;
$c-brown3: #570000;

$c-yellow1: #fff600;

$c-yellow-green: #a6ff00;
