// variable
$font-name: KoPubWorldDotum, 'Helvetica Neue', Arial, Helvetica, sans-serif;

$c-black1: #000;
$c-black2: #394250;
$c-black3: #272727;

$c-white1: #f1f2f5;

$c-gray1: #f1f2f5;
$c-gray2: #c5c8cf;
$c-gray3: #aeaeae;
$c-gray4: #666;

$c-blue1: #004;
